


<ol class="post-list">
{{#if loggedIn}} 
<a href="/profile" id = "upload">Upload New Puppy Pic!</a>
{{ else }}
 <a href="/login" id = "login">Login</a>
{{/if}}

  {{#each images as |image|}}
  <div>
   <a href="image/{{id}}"
  <li class = "puppy_image">
      <img src={{image_url}}>
          </a>
     </img>
        <p>{{image_content}} 
      </p>
     
     <p class = "name">Name: {{dog_name}} <br>

       Breed: {{dog_breed}}<br>
       
       Owner: {{user.username}}
     </p>

    </div>  
    {{!-- {{> post-info post }} --}}
  </li>
  {{/each}}
</ol>